<h1>{{title}}</h1>

<p>{{description}}</p>

<h2 class="">Talk Events</h2>

<p>The below are the various events where you have given this talk.</p>

<ul class="talk-events">

    {{#each events }} 
        <li class="talk-event">
            {{#link-to 'talk-event' this }}

            <h3 class="">{{name}}</h3>

            <p>{{location}}</p>
            <p>{{date}}</p>

            <label>Trial:{{input type="checkbox" checked=isTrialRun disabled="true"}}</label>


            {{/link-to}} 
        </li>
    {{/each}}

</ul>
